{% extends "base.jinja"%}

{% block content %}
      <main>
        <ul>
          <form class="form-inline" action="/bats" method="post">
            <label for="name_of_bat">Bat</label>
            <input type="text" name="name_of_bat" id="name_of_bat" required>
            <label for="colour">Colour</label>
              <select name="colour" id="colour">
                <option disabled selected value>-- select --</option>
                <option value="Red">Red</option>
                <option value="Black">Black</option>
                <option value="Blue">Blue</option>
                <option value="Neon Pink">Neon Pink</option>
                <option value="Gold">Gold</option>
                <option value="Rainbow">Rainbow</option>
                <option value="Platinum">Platinum</option>
            </select>
            <label for="smashability">SMASHABILITY RATING</label>
            <input type="range" name="smashability" id="smashability" min="1" max="10" required>
            <label for="dropdown">Select an option:</label>
            <select id="dropdown" name="players">
                {% for player in players %}
                <option value="{{ player.id }}">{{ player.name }}</option>
                {% endfor %} 
            <input type="submit" value="Add bat"> 
          </form>
        <div class="bat-container">
          {% for bat in bats %}
          <div class="bat">
            <h2>Name: {{ bat.name }}</h2>
            <h3>Colour: {{ bat.colour }}</h3>
            <h4>SMASHABILITY RATING: {{ bat.smashability }}</h4>
            <h5>Owner: <a href="/bats/{{bat.player_id}}">{{ bat.player.name }}</a></h5>

            <a href="/bats/{{bat.id}}">Show Details</a>
            <br>
            <form class="form" action="/bats/delete/{{ bat.id }}" method="POST">
            <input type="submit" value="Delete">
            </form>
          </div>
          {% endfor %}
        </div>
      </main>
    {% endblock %}