{% extends "base.jinja"%}

{% block content %}
    <div class="contact_box">
        <h3><i>email:</i> info@dlrnbats.com</h3>
        <h3><i>phone:</i> 0131 555 6060</h3>
        <h3><i>address:</i> 37 Castle Terrace, Edinburgh, EH1 2EL
        </h3>
    </div>
{% endblock %}